@model RoleEdit

<h1 class="bg-info text-white">Opdatér Rolle</h1>
<a asp-action="Index" class="btn btn-secondary">Tilbage</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <h2 class="bg-info p-1 text-white">Tilføj til @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">Alle brugere er medlem</td></tr>
        }
        else
        {
            @foreach (SiteUser user in Model.NonMembers.OrderBy(it => it.Navn))
            {
                <tr>
                    <td>@user.Navn, @user.UserName</td>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>

    <h2 class="bg-info p-1 text-white">Fjern fra @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">Ingen brugere er medlem</td></tr>
        }
        else
        {
            @foreach (SiteUser user in Model.Members.OrderBy(it => it.Navn))
            {
                <tr>
                    <td>@user.Navn, @user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Gem</button>
</form>