@model IEnumerable<GamMaUser>

@{
    ViewData["Title"] = "Medlemmer";
}

<h1 class="">Medlemsoversigt</h1>
<br />
<table class="table table-sm table-bordered" id="medlemmer">
    <tr>
        <th>Navn</th>
        <th>Årgang</th>
        <th>Beskæftigelse</th>
        <th>Status</th>
        <th>Admin</th>
    </tr>
    @foreach (GamMaUser user in Model.OrderBy(it => it.Status).ThenBy(it => it.Navn))
    {
        <tr>
            <td>@user.Navn</td>
            <td>@user.Aargang</td>
            <td>@user.Beskaeftigelse</td>
            <td>@user.Status</td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Redigér</a></td>
        </tr>
    }
</table>