@model IEnumerable<SiteUser>

@{
    ViewData["Title"] = "Medlemmer";
}

<h1 class="">Medlemsoversigt</h1>
<br />
<table class="table table-sm table-bordered display nowrap datatable">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Navn</th>
            <th>Årgang</th>
            <th>Beskæftigelse</th>
            <th>Status</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Kontingentdato</th>
            <th>Oprettet</th>
            <th class="all">Admin</th>
        </tr>
    </thead>
    @foreach (SiteUser user in Model)
    {
        <tr>
            <td></td>
            <td>@user.Navn</td>
            <td>@user.Aargang</td>
            <td>@user.Beskaeftigelse</td>
            <td>@user.Status</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@user.KontingentDato.ToLocalTime()</td>
            <td>@user.OprettetDato.ToLocalTime()</td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Redigér</a></td>
        </tr>
    }
</table>